.auth-panel {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.auth-panel__register {
  margin-right: 30px;
  text-decoration: none;
  color: #000;
}

.auth-panel__login {
  border-radius: 3px;
  padding: 8px 20px;
  background-color: #000;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 425px){
  .auth-panel {
    font-size: 10px;
    line-height: 16px;
  }

  .auth-panel__register {
    margin-right: 14px;
  }

  .auth-panel__login {
    padding: 5px 12px;
  }
}